<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Silkscreen&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <div class="text-center">
    <h1 class="display-4"></h1><br /><br />
    <div class="center">
      <td  colspan="4"><input id="resultado2" class="pant1" [(ngModel)]="pantalla2" type="text"></td> 
    </div>  
    <table>
      <tr>
        <td colspan="4"><input id="resultado" class="pant2" [(ngModel)]="pantalla" type="text"></td>
      </tr>
      <tr>
        <td><button onclick="porcentaje()" type="button">%</button></td>
        <td><button onclick="borrarce()" type="button">CE</button></td>
        <td><button onclick="borrarc()" type="button">C</button></td>
        <td><button onclick="borraruno()" type="button">⌫</button></td>
      </tr>
      <tr>
        <td><button onclick="unopor()" type="button">1/X</button></td>
        <td><button onclick="pordos()" type="button">X2</button></td>
        <td><button onclick="raiz()" type="button">SQRT</button></td>
        <td><button onclick="division()" type="button">/</button></td>
      </tr>
      <tr>
        <td><button onclick="siete()" (click)="siete()" type="button">7</button></td>
        <td><button onclick="ocho()" (click)="ocho()" type="button">8</button></td>
        <td><button onclick="nueve()" (click)="nueve()" type="button">9</button></td>
        <td><button onclick="multiplicacion()" type="button">X</button></td>
      </tr>
      <tr>
        <td><button onclick="cuatro()" (click)="cuatro()" type="button">4</button></td>
        <td><button onclick="cinco()" (click)="cinco()" type="button">5</button></td>
        <td><button onclick="seis()" (click)="seis()" type="button">6</button></td>
        <td><button onclick="menos()" type="button">-</button></td>
      </tr>
        <tr>
        <td><button  onclick="uno()" (click)="uno()" type="button">1</button></td>
        <td><button  onclick="dos()" (click)="dos()" type="button">2</button></td>
        <td><button  onclick="tres()"(click)="tres()" type="button">3</button></td>
        <td><button  onclick="suma()" (click)="suma()" type="button">+</button></td>
      </tr>
        <tr>
        <td><button onclick="sumaresta()" type="button">+/-</button></td>
        <td><button onclick="cero()" (click)="cero()"  type="button">0</button></td>
        <td><button onclick="decimal()" type="button">.</button></td>
        <td><button onclick="igual()" class="boton1"  type="button">=</button></td>
      </tr>
    </table>
  </div>
</body>
</html>